html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

::selection {
  background: #dedcff;
  color: #3f38ad;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f4f4f7;
}

::-webkit-scrollbar-thumb {
  background: #c9c9d5;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaaab9;
}